**/lib_managed
**/resource_managed
**/lib_src_managed
GPATH
GRTAGS
GSYMS
GTAGS
tags

.idea/encodings.xml
.idea/uiDesigner.xml
.idea/misc.xml
.idea/scopes/
.idea/workspace.xml
.idea/copyright/
.idea/inspectionProfiles/

*.swp
*.log

*.pyc
*~
.~lock*

**/.DS_STORE
**/.idea
**/.hg
